html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000
}

.w-nav:before, .w-nav:after {
    content: " ";
    display: table
}

.w-nav:after {
    clear: both
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.w-nav-link.w--current {
    color: #0082f3
}

.w-nav-menu {
    position: relative;
    float: right
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before, .w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px
}
.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

.w-nav-link:hover {
    color: #0082f3
}

.w-form {
    margin: 0 0 15px
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc
}

.w-input:-moz-placeholder, .w-select:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder, .w-select::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder, .w-select:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder, .w-select::-webkit-input-placeholder {
    color: #999
}

.w-input:focus, .w-select:focus {
    border-color: #3898EC;
    outline: 0
}

.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly],
fieldset[disabled] .w-input, fieldset[disabled] .w-select {
    cursor: not-allowed;
    background-color: #eeeeee
}

textarea.w-input, textarea.w-select {
    height: auto
}

input, textarea {
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}
button, input {
    font: inherit;
    margin: 0
}

.menu {
    float: none;
}

.navbar {
    text-align: left;
}

.logo {
    width: 101px;
    height: 65px;
}

.navlink {
    text-align: left;
}

.container {
    margin-top: 30px;
}
